
body{
        background-image: url("https://www.colourbox.com/preview/5351999-movie-film-reel.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 100% !important;
        z-index: 0;
    }

.header{
    text-align: center;
    font-family: 'Cinzel', serif;
    
}
#searchBtn{
border: solid white 2px;
background-color:gray;
color:black;
margin-left: 150px;
font-family: 'Cinzel', serif;
font-size:12px;
text-align: center;
height:30px;
width:150px;

}

#titleSearch{
    width:300px;
    margin-left: 80px;
    font-family: 'Cinzel', serif;
    text-align: center;
    
}
h1{
    margin-top:10px;
    background-color:gray;
    font-family: 'Cinzel', serif;
}
h5{
    font-family: 'Cinzel', serif;
    background-color:gray;
}