body{
    background-image: url("https://www.colourbox.com/preview/5351999-movie-film-reel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    z-index: 0;
    color:white;
}

.header{
text-align: center;
font-family: 'Cinzel', serif;
color:white;

}


.modal-main {
flex-direction: row;
box-sizing: border-box;
display: flex;
place-content: center;
align-items: center;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
height: 100%;
overflow: auto;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px;/* Location of the box */ 
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.92); /* Black w/ opacity */
}

.modal-content {
background-color: transparent;
padding: 5%;
border: 1px solid #888;
width: 70%;
}

a {
    color: black;
}

#favsModal {
    background-color: white;
    color:black;
}

.close {
color: #ffffff;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: rgb(160, 160, 160);
text-decoration: none;
cursor: pointer;
}

.modal-button {
display: table;
margin: 100px;
background:gray;
border: solid white 2px;
border-radius: 34px;
/* padding: 14px 20px 10px;  */
color:black;
/* box-sizing: border-box; */
cursor: pointer;
font-family: 'Cinzel', serif;

}

.card {
margin-top:10px;
margin-left:80px;
height: 300px;
width:250px;

}

.treecko-brand {
background-image: "https://images.app.goo.gl/LQ5LZHM8drHSNY4E6";
}

/* .li a {
display: block;
} */

#searchBtn{
border: solid white 2px;
background-color:gray;
color:black;
margin-left: 100px;
font-family: 'Cinzel', serif;
font-size:12px;
text-align: center;
height:30px;
width:150px;

}
#add-city{
border: solid white 2px;
background-color:gray;
color:black;
margin-left: 100px;
font-family: 'Cinzel', serif;
font-size:12px;
text-align: center;
height:30px;
width:150px;



}

#titleSearch{
width:250px;
margin-left: 80px;
font-family: 'Cinzel', serif;
text-align: center;
color:black;

}


h1{
margin-top:10px;
background-color:gray;
font-family: 'Cinzel', serif;
color:white;
}
h5{
font-family: 'Cinzel', serif;
background-color:gray;
color:white;

}
#resultsDiv{

/* margin-top:20px; */
background-color:white;
color:black;
width:500px;
font-family: 'Cinzel', serif;
/* margin: auto; */
/* width: 50%; */
/* padding: 10px; */
margin-left:100px;

}

h3{
    text-align:center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;

}


.navbar{
height:50px;

}

.favoritesList{
    background-color:white;
color:black;
width:500px;
font-family: 'Cinzel', serif;
margin-left:100px;
}

 .button {
border: solid white 2px;
background-color:gray; 
color:black;
font-family: 'Cinzel', serif;
font-size:12px;
/* text-align: center;  */
height:50px;
width:150px;
}

#clearFavorites {
    border: solid white 2px;
    background-color:gray; 
    color:black;
    font-family: 'Cinzel', serif;
    font-size:8px;
    /* text-align: center;  */
    height:30px;
    width:90px;
}
#clearFavorites:hover {
    border: solid black 1px;
}

.hide {
    display: none;
}