body{
    background-image: url("https://www.colourbox.com/preview/5351999-movie-film-reel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    z-index: 0;
    color:white;
    font-family: 'Cinzel', serif;
    /* font-size: 1.2vw; */
}

#countryInput{
width:250px;
/* margin-left: 80px; */
/* font-family: 'Cinzel', serif; */
text-align: center;
color:black;
}

.header{
text-align: center;
font-family: 'Cinzel', serif;
color:white;
}


.modal-main {
flex-direction: row;
box-sizing: border-box;
display: flex;
place-content: center;
align-items: center;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
/* width: 100%; */
height: 100%;
/* having both width&&height enabled at the same time would make buttons and links unclickable... */
overflow: auto;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px;/* Location of the box */ 
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.84); /* Black w/ opacity */
}

.modal-content {
background-color: rgb(172, 172, 172); /*feel free to change the color of modal bg*/
padding: 1%;
border: 1px solid #888;
width: 80%;
/* height: 100%; */
margin: auto;
margin-bottom: 100px;
max-height: 100%;
font-family: 'Cinzel', serif;
}

a {
    color: black;
}

#favsModal {
    background-color: white;
    color:black;
}

.close {
color: #ffffff;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: rgb(160, 160, 160);
text-decoration: none;
cursor: pointer;
}

.modal-button {
background:gray;
border: solid white 2px;
color:black;
cursor: pointer;
font-size:12px;
text-align: center;
height:30px;
width:150px;
}

.card {
margin-top:10px;
margin-left:80px;
height: 300px;
width:250px;

}

.treecko-brand {
background-image: "https://images.app.goo.gl/LQ5LZHM8drHSNY4E6";
}

.li a {
display: block;
}
#searchBtn{
border: solid white 2px;
background-color:gray;
color:black;
/* margin-left: 100px; */
font-family: 'Cinzel', serif;
font-size:12px;
text-align: center;
height:30px;
width:150px;
}

#titleSearch{
width:250px;
/* margin-left: 80px; */
/* font-family: 'Cinzel', serif; */
text-align: center;
color:black;
}

h1{
margin-top:10px;
background-color:gray;
/* font-family: 'Cinzel', serif; */
color:white;
}

h2 {
    font-family: 'Cinzel', serif;
}

h5{
/* font-family: 'Cinzel', serif; */
background-color:gray;
color:white;

}

#resultsDiv{
/* margin-top:20px; */
background-color:white;
color:black;
/* width: 500px; */
/* font-family: 'Cinzel', serif; */
width: 80%;
/* margin-left:100px; */
padding: 0px 20px 0px 20px;
}

h3{
<<<<<<< HEAD
text-align:center;
/* font-family: 'Cinzel', serif; */
margin-top:10px;
background-color:gray;
}
=======
    text-align:center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
>>>>>>> d771398de51f34803ee151fd75505bd04b4b390d

.navbar{
height:60px;
}

.genre-button {
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
}

.genre-search {
    width: 80%;
    height: 400px;
    background-color: gray;
    text-align: center;
    margin: auto;
}

.ul {
    list-style-type: none;
}

li {
    color: black;
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

<<<<<<< HEAD
.col-md-2 {
    padding: 0px 0px
}

.col-md-10 {
    padding: 0px 0px
}

.carousel-inner {
    font-size: 50px;
}

.default {
    cursor: default;
=======
}

.favoritesList{
    background-color:white;
color:black;
width:500px;
font-family: 'Cinzel', serif;
/* margin: auto; */
/* width: 50%; */
/* padding: 10px; */
margin-left:100px;
>>>>>>> d771398de51f34803ee151fd75505bd04b4b390d
}
